mixin link(href, name)
  //- attributes == {title: "", target: "_self", class: ""}
  a(href=href, title=attributes.title, target=attributes.target, class=attributes.class)= name


doctype html
html(lang='en')
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700", rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="canonical", href="http://www.dkrichards.com")
    link(rel="icon",type="image/png", href="/favicon.png")
    base(href="https://www.dkrichards.com/")
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible", content="IE=edge")/
    meta(name="viewport", content="width=device-width, initial-scale=1")/
    meta(name="google-site-verification", content="fnpgLVltsohkYzvnefmzpg2HmxFbP_88Nak73roWUZs")/
    meta(name="robots", content="NOODP")/
    meta(name="description", content=description)/
    meta(name="twitter:card", content="summary")/
    meta(name="twitter:site", content="@dkrichards86")/
    meta(name="twitter:title", content=title)/
    meta(name="twitter:description", content=description)/
    meta(name="twitter:image", content="https://www.dkrichards.com/images/pirate.jpg")/
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Keith Richards",
        "description": "Software developer in Durham, NC",
        "email": "mailto:dkrichards86@gmail.com",
        "image": "https://www.dkrichards.com/pirate.jpg",
        "url": "https://www.dkrichards.com",
        "worksFor": "RTI International",
        "jobTitle": "Software Developer",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Durham",
          "addressRegion": "NC",
          "postalCode": "27713"
        }
      }

  body
    header
      +link('/', 'Keith Richards')(title="dkrichards.com home page", class="headline")
    
    nav
      a(href="/", title="Home Page")
        i.material-icons home
        span Home
      a(href="/resume", title="My Resume")
        i.material-icons work
        span Resume
      a(href="/articles", "Some articles I've written")
        i.material-icons library_books
        span Articles
      a(href="/projects", title="My Projects")
        i.material-icons assignment_turned_in
        span Projects
      a(href="/personal", title="About Me")
        i.material-icons person
        span About Me

    main
      block content
    
    script(src='/javascripts/analytics.js' type="text/javascript")
