mixin link(href, name)
  //- attributes == {title: "", target: "_self", class: ""}
  a(href=href, title=attributes.title, target=attributes.target, class=attributes.class)= name


doctype html
html(lang='en')
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="canonical", href="http://www.dkrichards.com")
    link(rel="icon",type="image/png", href="/favicon.png")
    // base(href="https://www.dkrichards.com/")
    base(href="http://dkrichards-dkrichards86.c9users.io:8080/")
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible", content="IE=edge")/
    meta(name="viewport", content="width=device-width, initial-scale=1")/
    meta(name="google-site-verification", content="fnpgLVltsohkYzvnefmzpg2HmxFbP_88Nak73roWUZs")/
    meta(name="robots", content="NOODP")/
    meta(name="description", content=description)/
    meta(name="twitter:card", content="summary")/
    meta(name="twitter:site", content="@dkrichards86")/
    meta(name="twitter:title", content=title)/
    meta(name="twitter:description", content=description)/
    meta(name="twitter:image", content="https://www.dkrichards.com/images/pirate.jpg")/
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Keith Richards",
        "description": "Software developer in Durham, NC",
        "email": "mailto:dkrichards86@gmail.com",
        "image": "https://www.dkrichards.com/pirate.jpg",
        "url": "https://www.dkrichards.com",
        "worksFor": "RTI International",
        "jobTitle": "Software Developer",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Durham",
          "addressRegion": "NC",
          "postalCode": "27713"
        },
        "sameAs": [
          "https://github.com/dkrichards86",
          "https://twitter.com/dkrichards86",
          "https://www.linkedin.com/in/dkrichards/"
        ]
      }

  body
    header
      +link('/', 'Keith Richards')(title="dkrichards.com home page", class="headline")
    
    nav
      a(href="/", title="Home Page")
        img(src='/images/ic_home_white_24px.svg', alt="Visit the homepage of Keith Richards.")
        span Home
      a(href="/resume_keith_richards.pdf", title="View my resume (PDF)", target='_blank',)
        img(src='/images/ic_work_white_24px.svg', alt="View a PDF version of Keith's resume.")
        span Resume
      a(href="https://medium.com/@dkrichards86", title="Some articles I've written", target="_blank")
        img(src='/images/ic_library_books_white_24px.svg', alt="Read some of Keith's work on Medium")
        span Articles
      a(href="https://github.com/dkrichards86", title="My Projects", target="_blank")
        img(src='/images/ic_assignment_turned_in_white_24px.svg', alt="See some of Keith's projects on GitHub")
        span Projects
      a(href="/personal", title="About Me")
        img(src='/images/ic_person_white_24px.svg', alt="Learn more about Keith Richards.")
        span About Me

    main
      block content
    
    script(src='/javascripts/analytics.js' type="text/javascript")
